= content_tag(:tr, class: 'nested-fields redcap_variable_child_map', id: "redcap_variable_child_map_id_#{form.object.id}") do
  %td.redcap_variable_child_map_map_type.col.input-field{ width: 200 }
    = form.hidden_field :_destroy
    %p.left-align
      %label
        = form.radio_button :map_type, Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_REDCAP_VARIABLE, checked: form.object.map_type == Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_REDCAP_VARIABLE, data: { action: 'change->redcap-variable#changeRedcapVariableChildMapType' }
        %span
          = Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_REDCAP_VARIABLE
    %p.left-align
      %label
        = form.radio_button :map_type, Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_OMOP_CONCEPT, checked: form.object.map_type == Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_OMOP_CONCEPT, data: { action: 'change->redcap-variable#changeRedcapVariableChildMapType' }
        %span
          = Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_OMOP_CONCEPT
    %p.left-align
      %label
        = form.radio_button :map_type, Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_REDCAP_DERIVED_DATE, checked: form.object.map_type == Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_REDCAP_DERIVED_DATE, data: { action: 'change->redcap-variable#changeRedcapVariableChildMapType' }
        %span
          = Redcap2omop::RedcapVariableChildMap::REDCAP_VARIABLE_CHILD_MAP_MAP_TYPE_REDCAP_DERIVED_DATE
    - if validation_errors?(form.object, :map_type)
      %p.error= format_validation_errors(form.object, :map_type)
  %td.redcap_variable_child_map_omop_column_id.input-field{ width: 300 }
    = form.select :omop_column_id, options_for_select(Redcap2omop::OmopColumn.by_redcap_variable_child_map(form.object).all.map { |omop_column| ["#{omop_column.omop_table.name.humanize} : #{omop_column.name}", omop_column.id] }, selected = form.object.omop_column_id), { include_blank: true },  class: 'redcap2omop-select'
    - if validation_errors?(form.object, :omop_column_id)
      %p.error= format_validation_errors(form.object, :omop_column_id)
  %td.redcap_variable_child_map_redcap_variable_id{ width: 300 }
    .input{ class: "#{hide_redcap_variable_child_map_redcap_variable_id(form.object)}" }
      = form.select :redcap_variable_id, options_for_select(Redcap2omop::RedcapVariable.by_redcap_variable_child_map(form.object).all.map { |redcap_variable| ["#{redcap_variable.form_name} : #{redcap_variable.name}", redcap_variable.id] }, selected = form.object.redcap_variable_id), { include_blank: true },  class: 'redcap2omop-select'
      - if validation_errors?(form.object, :redcap_variable_id)
        %p.error= format_validation_errors(form.object, :redcap_variable_id)
  %td.redcap_variable_child_map_redcap_concept_id{ width: 200 }
    .input{ class: "#{hide_redcap_variable_child_map_concept_id(form.object)}" }
      = link_to '', concepts_url(), class: 'hide', id: 'concepts_url'
      - concept = form.object.concept.present? ? form.object.concept : nil
      = form.select :concept_id, options_for_select([concept].compact.map { |concept| [concept.concept_name, concept.concept_id] },form.object.concept_id), { include_blank: true }, class: 'concept-select2', data: { placeholder: 'Search concept' }
      - if validation_errors?(form.object, :concept_id)
        %p.error= format_validation_errors(form.object, :concept_id)
  %td.redcap_variable_child_map_redcap_derived_date_id{ width: 200 }
    .input{ class: "#{hide_redcap_variable_child_map_redcap_derived_date_id(form.object)}" }
      = form.select :redcap_derived_date_id, options_for_select(Redcap2omop::RedcapDerivedDate.by_redcap_variable_child_map(form.object).all.map { |redcap_derived_date| [redcap_derived_date.name, redcap_derived_date.id] }, selected = form.object.redcap_derived_date_id), { include_blank: true },  class: 'redcap2omop-select'
      - if validation_errors?(form.object, :redcap_derived_date_id)
        %p.error= format_validation_errors(form.object, :redcap_derived_date_id)
  %td{ width: 200 }
    = link_to "Remove", "#", class: 'waves-effect waves-light btn red', data: { action: "click->nested-form#remove_association" }
