= turbo_frame_tag dom_id(redcap_variable)  do
  %li.collection-item
    .row
      .col.s12.left-align
        %h3
          = "Name: #{redcap_variable.name}"
    .row
      .col.s6.m4.input-field
        %label{ for: 'redcap_variable_form_name'}
          Form Name
        %input{ id: 'redcap_variable_form_name', disabled: 'disabled', value: redcap_variable.form_name, type: 'text' }
      .col.s6.m4.input-field
        %label{ for: 'redcap_variable_field_type'}
          Field Type
        %input{ id: 'redcap_variable_field_type', disabled: 'disabled', value: redcap_variable.field_type, type: 'text' }
      .col.s6.m4.input-field
        %label{ for: 'redcap_variable_field_type_normalized'}
          Field Type Normalized
        %input{ id: 'redcap_variable_field_type_normalized', disabled: 'disabled', value: redcap_variable.field_type_normalized, type: 'text' }
    .row
      .col.s6.m4.input-field
        %label{ for: 'redcap_variable_field_type_curated'}
          Field Type Curated
        %input{ id: 'redcap_variable_field_type_curated', disabled: 'disabled', value: redcap_variable.field_type_curated, type: 'text' }
      .col.s6.m4.input-field
        %label{ for: 'redcap_variable_text_validation_type'}
          Text Validation Type
        %input{ id: 'redcap_variable_text_validation_type', disabled: 'disabled', value: redcap_variable.text_validation_type, type: 'text' }
      .col.s6.m4.input-field
        %label{ for: 'redcap_variable_field_annotation'}
          Field Annotation
        %input{ id: 'redcap_variable_field_annotation', disabled: 'disabled', value: redcap_variable.field_annotation, type: 'text' }
    .row
      .col.s6.m4.input-field
        %label{ for: 'redcap_variable_curation_status'}
          Curation Status
        %input{ id: 'redcap_variable_curation_status', disabled: 'disabled', value: redcap_variable.curation_status, type: 'text' }
      - unless hide_redcap_variable_map(redcap_variable) == 'hide'
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_map_map_type'}
            Map Type
          %input{ id: 'redcap_variable_map_map_type', disabled: 'disabled', value: redcap_variable.redcap_variable_map.map_type, type: 'text' }
      - unless hide_hide_redcap_variable_map_concept_id(redcap_variable) == 'hide'
        .col.s6.m4.input-field
          - if redcap_variable.redcap_variable_map.concept_id
            %label{ for: 'redcap_variable_map_concept_id'}
              Concept
            %input{ id: 'redcap_variable_map_concept_id', disabled: 'disabled', value: redcap_variable.redcap_variable_map.concept.concept_name, type: 'text' }
    - if redcap_variable.choice? && redcap_variable.curation_status != Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_SKIPPED
      .redcap_variable_choices
        .row
          .col.s12.left-align
            %h4
              Choices
        .row
          .col.s12.left-align
            %table
              %thead
                %tr
                  %th.redcap_variable_choice_choice_code_raw{ width: 200 }
                    Choice Code Raw
                  %th.redcap_variable_choice_choice_description{ width: 200 }
                    Choice Description
                  %th.redcap_variable_choice_vocabulary_id_raw{ width: 200 }
                    Vocabulary ID Raw
                  %th.redcap_variable_choice_curation_status{ width: 200 }
                    Curation Status
              %tbody
                - redcap_variable.redcap_variable_choices.sort_by(&:id).each  do |redcap_variable_choice|
                  = content_tag(:tr, class: 'redcap_variable_choice', id: "redcap_variable_choice_id#{redcap_variable_choice.id}") do
                    %td.redcap_variable_choice_choice_code_raw
                      = redcap_variable_choice.choice_code_raw
                    %td.redcap_variable_choice_choice_description
                      = redcap_variable_choice.choice_description
                    %td.redcap_variable_choice_redcap_variable_choice_vocabulary_id_raw
                      = redcap_variable_choice.vocabulary_id_raw
                    %td.redcap_variable_choice_curation_status
                      = redcap_variable_choice.curation_status
    .row
      .col.s12.right-align
        = link_to 'Edit', edit_redcap_project_redcap_data_dictionary_redcap_variable_url(redcap_project, redcap_variable), class: 'waves-effect waves-light btn'
