%h2
  Editing Variable
= turbo_frame_tag dom_id(@redcap_variable)  do
  %li.collection-item
    = form_with(model: @redcap_variable, url: redcap_project_redcap_data_dictionary_redcap_variable_url(@redcap_project, @redcap_variable), method: 'patch', html: { id: dom_id(@redcap_variable), class: 'redcap_variable_form', data: { controller: 'redcap-variable' } }) do |form|
      .row
        .col.s12.left-align
          %h3
            = "Name: #{@redcap_variable.name}"
      .row
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_form_name'}
            Form Name
          %input{ id: 'redcap_variable_form_name', disabled: 'disabled', value: @redcap_variable.form_name, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_type'}
            Field Type
          %input{ id: 'redcap_variable_field_type', disabled: 'disabled', value: @redcap_variable.field_type, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_type_normalized'}
            Field Type Normalized
          %input{ id: 'redcap_variable_field_type_normalized', disabled: 'disabled', value: @redcap_variable.field_type_normalized, type: 'text' }
      .row
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_type_curated'}
            Field Type Curated
          %input{ id: 'redcap_variable_field_type_curated', disabled: 'disabled', value: @redcap_variable.field_type_curated, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_text_validation_type'}
            Text Validation Type
          %input{ id: 'redcap_variable_text_validation_type', disabled: 'disabled', value: @redcap_variable.text_validation_type, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_annotation'}
            Field Annotation
          %input{ id: 'redcap_variable_field_annotation', disabled: 'disabled', value: @redcap_variable.field_annotation, type: 'text' }
      .row
        .col.s6.m4.input-field
          %legend
            Curation Status
            %p.left-align
              %label
                = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED, checked: (@redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                %span
                  = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED
            %p.left-align
              %label
                = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_NEW_VARIABLE, checked: (@redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_NEW_VARIABLE), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                %span
                  = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_NEW_VARIABLE
            %p.left-align
              %label
                = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_TYPE, checked: (@redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_TYPE), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                %span
                  = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_TYPE
            %p.left-align
              %label
                = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_LABEL, checked: (@redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_LABEL), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                %span
                  = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_LABEL
            %p.left-align
              %label
                = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_CHOICES, checked: (@redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_CHOICES), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                %span
                  = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_UNDETERMINED_UPDATED_VARIABLE_CHOICES
            %p.left-align
              %label
                = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_SKIPPED, checked: (@redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_SKIPPED), data: { action: 'change->redcap-variable#changeCurationStatus' }
                %span
                  = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_SKIPPED
            %p.left-align
              %label
                = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_MAPPED,  checked: (@redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_MAPPED), data: { action: 'change->redcap-variable#changeCurationStatus' }
                %span
                  = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_MAPPED
        .col.s6.m8
          .redcap_variable_map_form{ class: "#{hide_redcap_variable_map(@redcap_variable)}" }
            = form.fields_for :redcap_variable_map  do |redcap_variable_map_form|
              = redcap_variable_map_form.hidden_field :id
              = redcap_variable_map_form.hidden_field :_destroy
              .col.s6.m4.input-field.map_type
                %legend.left-align
                  Map Type
                  %p.left-align
                    %label
                      = redcap_variable_map_form.radio_button :map_type, Redcap2omop::RedcapVariableMap::REDCAP_VARIABLE_MAP_MAP_TYPE_OMOP_CONCEPT, checked: redcap_variable_map_form.object.map_type == Redcap2omop::RedcapVariableMap::REDCAP_VARIABLE_MAP_MAP_TYPE_OMOP_CONCEPT, data: { action: 'change->redcap-variable#changeMapType' }
                      %span
                        = Redcap2omop::RedcapVariableMap::REDCAP_VARIABLE_MAP_MAP_TYPE_OMOP_CONCEPT
                  %p.left-align
                    %label
                      = redcap_variable_map_form.radio_button :map_type, Redcap2omop::RedcapVariableMap::REDCAP_VARIABLE_MAP_MAP_TYPE_OMOP_CONCEPT_CHOICE, checked: redcap_variable_map_form.object.map_type == Redcap2omop::RedcapVariableMap::REDCAP_VARIABLE_MAP_MAP_TYPE_OMOP_CONCEPT_CHOICE, data: { action: 'change->redcap-variable#changeMapType' }
                      %span
                        = Redcap2omop::RedcapVariableMap::REDCAP_VARIABLE_MAP_MAP_TYPE_OMOP_CONCEPT_CHOICE
                  - if validation_errors?(redcap_variable_map_form.object, :map_type)
                    %p.error= format_validation_errors(redcap_variable_map_form.object, :map_type)
              .col.s6.m4.input-field.concept_id{ class: "#{hide_hide_redcap_variable_map_concept_id(@redcap_variable)}" }
                = link_to '', concepts_url(), class: 'hide', id: 'concepts_url'
                %label
                  %span
                    Concept
                  = redcap_variable_map_form.select :concept_id, options_for_select(@concepts.map { |concept| [concept.concept_name, concept.concept_id] }, redcap_variable_map_form.object.concept_id), { include_blank: true }, class: 'concept-select2', data: { placeholder: 'Search concept'}
                  - if validation_errors?(redcap_variable_map_form.object, :concept_id)
                    %p.error= format_validation_errors(redcap_variable_map_form.object, :concept_id)
      - if @redcap_variable.choice?
        .redcap_variable_choices{ class: "#{hide_redcap_variable_choices(@redcap_variable)}" }
          .row
            .col.s12.left-align
              %h4
                Choices
          .row
            .col.s12
              %table
                %thead
                  %tr
                    %th.redcap_variable_choice_choice_code_raw{ width: 200 }
                      Choice Code Raw
                    %th.redcap_variable_choice_choice_description{ width: 200 }
                      Choice Description
                    %th.redcap_variable_choice_vocabulary_id_raw{ width: 200 }
                      Vocabulary ID Raw
                    %th.redcap_variable_choice_curation_status{ width: 200 }
                      Curation Status
                %tbody
                  = form.fields_for :redcap_variable_choices  do |redcap_variable_choice_form|
                    = redcap_variable_choice_form.hidden_field :id
                    = redcap_variable_choice_form.hidden_field :_destroy
                    = content_tag(:tr, class: 'redcap_variable_choice') do
                      %td.redcap_variable_choice_choice_code_raw
                        = redcap_variable_choice_form.object.choice_code_raw
                      %td.redcap_variable_choice_choice_description
                        = redcap_variable_choice_form.object.choice_description
                      %td.redcap_variable_choice_redcap_variable_choice_vocabulary_id_raw
                        = redcap_variable_choice_form.object.vocabulary_id_raw
                      %td.redcap_variable_choice_curation_status
                        %p.left-align
                          %label
                            = redcap_variable_choice_form.radio_button :curation_status, Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED, checked: (redcap_variable_choice_form.object.curation_status == Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                            %span
                              = Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED
                        %p.left-align
                          %label
                            = redcap_variable_choice_form.radio_button :curation_status, Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED_NEW_CHOICE, checked: (redcap_variable_choice_form.object.curation_status == Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED_NEW_CHOICE), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                            %span
                              = Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED_NEW_CHOICE
                        %p.left-align
                          %label
                            = redcap_variable_choice_form.radio_button :curation_status, Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED_UPDATED_DESCRIPTION, checked: (redcap_variable_choice_form.object.curation_status == Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED_UPDATED_DESCRIPTION), disabled: true, data: { action: 'change->redcap-variable#changeCurationStatus' }
                            %span
                              = Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_UNDETERMINED_UPDATED_DESCRIPTION
                        %p.left-align
                          %label
                            = redcap_variable_choice_form.radio_button :curation_status, Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_SKIPPED, checked: (redcap_variable_choice_form.object.curation_status == Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_SKIPPED)
                            %span
                              = Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_SKIPPED
                        %p.left-align
                          %label
                            = redcap_variable_choice_form.radio_button :curation_status, Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_MAPPED,  checked: (redcap_variable_choice_form.object.curation_status == Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_MAPPED)
                            %span
                              = Redcap2omop::RedcapVariableChoice::REDCAP_VARIABLE_CHOICE_CURATION_STATUS_MAPPED
      .row
        .col.s12.right-align
          %button{ :type => 'submit', class: 'waves-effect waves-light btn' }
            Submit
          = link_to "Cancel", redcap_project_redcap_data_dictionary_redcap_variable_url(@redcap_project, @redcap_variable), class: 'waves-effect waves-light btn red'