%h2
  Editing Variable

= turbo_frame_tag dom_id(@redcap_variable)  do
  %li.collection-item
    = form_with(model: @redcap_variable, url: redcap_project_redcap_data_dictionary_redcap_variable_url(@redcap_project, @redcap_variable), method: 'patch', id: dom_id(@redcap_variable), class: 'redcap_variable_form') do |form|
      .row
        .col.s12.left-align
          %h3
            = "Name: #{@redcap_variable.name}"
      .row
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_form_name'}
            Form Name
          %input{ id: 'redcap_variable_form_name', disabled: 'disabled', value: @redcap_variable.form_name, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_type'}
            Field Type
          %input{ id: 'redcap_variable_field_type', disabled: 'disabled', value: @redcap_variable.field_type, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_type_normalized'}
            Field Type Normalized
          %input{ id: 'redcap_variable_field_type_normalized', disabled: 'disabled', value: @redcap_variable.field_type_normalized, type: 'text' }
      .row
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_type_curated'}
            Field Type Curated
          %input{ id: 'redcap_variable_field_type_curated', disabled: 'disabled', value: @redcap_variable.field_type_curated, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_text_validation_type'}
            Text Validation Type
          %input{ id: 'redcap_variable_text_validation_type', disabled: 'disabled', value: @redcap_variable.text_validation_type, type: 'text' }
        .col.s6.m4.input-field
          %label{ for: 'redcap_variable_field_annotation'}
            Field Annotation
          %input{ id: 'redcap_variable_field_annotation', disabled: 'disabled', value: @redcap_variable.field_annotation, type: 'text' }
      .row
        .col.s6.m4.input-field
          %p
            %label
              = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_SKIPPED, checked: @redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_SKIPPED
              %span
                = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_SKIPPED
          %p
            %label
              = form.radio_button :curation_status, Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_MAPPED,  checked: @redcap_variable.curation_status == Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_MAPPED
              %span
                = Redcap2omop::RedcapVariable::REDCAP_VARIABLE_CURATION_STATUS_MAPPED
        .col.s6.right-align
          %button{ :type => 'submit', class: 'waves-effect waves-light btn' }
            Submit
          = link_to "Cancel", redcap_project_redcap_data_dictionary_redcap_variable_url(@redcap_project, @redcap_variable)
