- content_for(:title) do
  REDCap Projects
.row
  #redcap_projects.col.s12
    .redcap_projects_header
      %h2
        REDCap Projects
      = form_tag redcap_projects_url(), method: 'get', :id => 'search_redcap_projects_form'  do
        .row
          .search.input-field.col.s8
            = label_tag :search, 'Search'
            = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
          .navigation.col.s4.right-align
            %button{ :type => 'submit', :id => 'search_notes_button', class: 'waves-effect waves-light btn' }
              Search
            = link_to 'Clear', redcap_projects_url()
    .redcap_projects_list.col.s12.right-align
      = will_paginate @redcap_projects
      .divTable
        .divTableHeading
          .divTableRow
            .divTableHead
              = sortable 'name'
            .divTableHead
              = sortable 'api_token'
            .divTableHead Export Table Name
            .divTableHead Route To Observation
            .divTableHead Insert Person
            .divTableHead Complete Instrument
            .divTableHead API Import
            .divTableHead
        .divTableBody
          - @redcap_projects.each do |redcap_project|
            = render 'redcap_project', redcap_project: redcap_project
      = will_paginate @redcap_projects